<script type="module">
      import PhotoSwipeLightbox from 'https://cdn.jsdelivr.net/npm/photoswipe@5.3.0/dist/photoswipe-lightbox.esm.min.js';
      import PhotoSwipeDynamicCaption from 'https://cdn.jsdelivr.net/gh/dimsemenov/photoswipe-dynamic-caption-plugin@main/photoswipe-dynamic-caption-plugin.esm.min.js';

      const lightbox = new PhotoSwipeLightbox({
        gallerySelector: '.pswp-gallery',
        childSelector: '.pswp-gallery__item',
        pswpModule: () => import('https://cdn.jsdelivr.net/npm/photoswipe@5.3.0/dist/photoswipe.esm.min.js')
      });

      const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
        mobileLayoutBreakpoint: 700,
        type: 'auto',
        mobileCaptionOverlapRatio: 1
      });

      lightbox.init();
</script>